<h1>
  Listas
  <%= link_to '#', class: 'btn btn-sm btn-primary' do %>
    <%= glyph(:plus) %> Adicionar
  <% end %>
</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome do Arquivo</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>Lista de Exemplo.txt</td></tr>
    </tbody>
  </table>
</div>
