/.bundle
/.env
/.relays
/.ruby-version
/log/*.log
/tmp

/config/environments/staging.rb
/config/database.yml
/config/mypg.yml
/config/shuttle.yml
/public/assets
/public/lists/*.txt
/public/lists/*.csv
