.lists-index {
  .progress {
    height: 30px;

    .progress-bar {
      padding-top: 5px;
      min-width: 2em;
    }
  }

  p {
    &.small {
      font-size: .9em;
    }

    &.small:last-child {
      margin-bottom: 0;
    }
  }
}
