.lists-index {
  .progress {
    margin-bottom: 0;
    height: 30px;

    .progress-bar {
      padding-top: 5px;
      min-width: 2em;
      vertical-align: middle;
    }
  }

  .modal-footer {
    margin-top: 0;
  }
}
