<h1>Campanhas</h1>

<div class="row">
  <%= form_for :campaign, url: campaigns_path do |f| %>
    <%#= def resource; @campaign; end; devise_error_messages! %>

    <div class="col-xs-12 col-lg-8">
      <fieldset>
        <legend>Detalhes</legend>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="campaign_from">Remetente</label>
              <%= f.text_field :from, class: 'form-control', value: ENV['SMTP_FROM'] %>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label for="campaign_subject">Assunto</label>
              <%= f.text_field :subject, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="campaign_html">HTML</label>
              <%= f.text_area :body, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <input type="submit" class="btn btn-primary pull-right" value="Disparar Campanha!">
          </div>
        </div>
      </fieldset>
    </div>
  <% end %>
</div>
